<<<<<<< HEAD
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr class="row">
        <td class="field-label col-md-3 active">
          <p align="center"><strong><i><%= comment.user.name%></i></strong></p>
        </td>
        <td class="col-md-9">
          <%= comment.created_at.strftime("%H:%M , %d %b. %Y")%>
        </td>
      </tr>
      <tr class="row">
        <td class="field-label col-md-3 active">
          <center> <label>  <%= image_tag comment.user.avatar.to_s %></label></center>
        </td>
        <td class="col-md-9">
          <p align="left"><%= comment.body %></p>
        </td>
      </tr>
    </table>
  </div>
  <% if current_user %>
   <%= link_to "Ответить", post_comment_reply_path(@post, comment), :class => "btn btn-default navbar-btn"%>
    <% if current_user == comment.user %>
      <%= link_to "Удалить", post_comment_path(@post, comment), method: :delete, :class => "btn btn-default navbar-btn"%>
    <% end %>
  <% end %>
  <br>
  <br>
=======

<div class="table-responsive">
 <table class="table table-bordered">
 <tr class="row">
   <td class="field-label col-md-3 active">
  <p align="center"><strong><i><%= comment.user.name%>:</i></strong></p>
   </td>
   <td class="col-md-9">
    <div align="right"><%= comment.created_at.strftime("%H:%M , %d %b. %Y")%></div>
   </td>
 </tr>
 <tr class="row">
   <td class="field-label col-md-3 active">
     <div align="center"><label>  <%= image_tag comment.user.avatar.to_s %></label></div>
   </td>
   <td class="col-md-9">
    <p align="left"><%= comment.body %></p>
   </td>
 </tr>

</table>
</div>
<div align="right">
  <%= link_to "Ответить", post_comment_reply_path(@post, comment), :class => "btn btn-default navbar-btn"%>
  <% if current_user == comment.user %>
  <%= link_to "Удалить", post_comment_path(@post, comment), method: :delete,  :class => "btn btn-default navbar-btn"%></div>
<br>
<br>
  <% end %>
>>>>>>> 85554bb8886e477a7a557d3d36a47cf177069983
