<div class="comment_reply"><blockquote><h3><%= @comment.parent.body %></h3></blockquote></div>

<%= form_for([@post, @comment]) do |f| %>
<p>
    <h1> Ответить на комментарий: </h1>
    <%= f.hidden_field :ancestry %>
    <%= f.text_area :body, size:"100x10"%>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>
