
<h1> Регистрация </h1>
<%= simple_form_for @user, url: users_path do |f| %>
  <br>

  <hr>
  <hr>

  <%= f.input :name , :placeholder => "От 3 символов",:input_html => {:style=> 'width: 200px'}%> <br>

  <%= f.input :email, :placeholder => "user@domain.com",:input_html => {:style=> 'width: 200px'} %><br>

  <%= f.input :password, :placeholder => "От 6 символов",:input_html => {:style=> 'width: 200px'} %><br>

  <%= f.input :password_confirmation,:placeholder => "Повторный ввод пароля" ,:input_html => {:style=> 'width: 200px'}%><br>
  Avatar : <%= f.file_field :avatar %>
  <br>
  <br>

  <%= f.button :submit %>
<% end %>
