
<h1> Регистрация </h1>
<%= form_for @user, url: users_path do |f| %>
  <hr>
  <hr>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
       Были найдены такие ошибки:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <hr>
  Name:<br>
  <%= f.text_field :name , :placeholder => "От 3 символов"%> <br>
  Email:<br>
  <%= f.text_field :email, :placeholder => "example@gmail.com" %><br>
  Password: <br>
  <%= f.password_field :password, :placeholder => "От 6 символов"%><br>
  Password Confirmation: <br>
  <%= f.password_field :password_confirmation,:placeholder => "Повторный ввод пароля" %><br>
  Avatar : <%= f.file_field :avatar %>
  <%= f.submit "Продолжить"%>
<% end %>
