
<h1> Регистрация </h1>

<%= form_for :user, url: '/users' do |f| %>
  Name:<br>
  <%= f.text_field :name %> <br>
  Email:<br>
  <%= f.text_field :email %><br>
  Password: <br>
  <%= f.password_field :password %><br>
  Password Confirmation: <br>
  <%= f.password_field :password_confirmation %><br>
  Avatar : <%= f.file_field :avatar %>
  <%= f.submit "Продолжить"%>
<% end %>
<div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
