<h1 class="title">
  <%= @post.title %>
</h1>

<p class="body">
  <%= @post.body %>
</p>
<% if current_user == @post.user%>
<%= link_to 'Редактировать', edit_post_path(@post) %>
<%= link_to 'Удалить запись', post_path(@post), method: :delete, remote: true %>
<% end %>
<h2> Комментарии: </h2>

  <% @post.comments.each do |comment| %>
    <p>
      <%= image_tag comment.user.avatar.to_s %>
      <strong><i><%= comment.user.name%>:</i></strong><br>
    <%= comment.body %>
    </p>
    <%= link_to "Reply", post_comment_reply_path(@post, comment) %>
    <% if current_user == comment.user %>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
    <% end %>
  <% end %>

<h2> Добавить комментарий </h2>
  <% if current_user %>
  <p>
    <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
    </p>

    <p>
        <%= f.submit %>
    </p>
    <% end %>
  <% else %>
  <h3> Что-бы оставлять комментарии, нужно зарегистрироваться </h3>
<% end %>
</p>
