<h1 class="title">
  <h2> <%= @post.title %></h2>
</h1>

<p class="body">
  <%= @post.body %>
</p>
<% if current_user == @post.user%>
<%= link_to 'Редактировать', edit_post_path(@post), :class => "btn btn-default navbar-btn" %>
<%= link_to 'Удалить запись', post_path(@post), method: :delete, :class => "btn btn-default navbar-btn" %>
<% end %>
<h2> Комментарии: </h2>

  <%= nested_comments @post.comments%>
<br>
<br>
<br>
<h2> Добавить комментарий </h2>
  <% if current_user %>
  <p>
    <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>

        <%= f.text_area :body %>
    </p>

    <p>
        <%= f.submit %>
    </p>
    <% end %>
  <% else %>
  <h3> Что-бы оставлять комментарии, нужно зарегистрироваться </h3>
<% end %>
</p>
