<strong><%= @post.user.name %></strong>
<br>
<%= image_tag @post.user.avatar.to_s %>
<br>
<br>
<br>
<h1 class="title">
  <center><h2> <%= @post.title %></h2></center>
</h1>

<p class="body">
  <h4><%= @post.body %></h4>
</p>

<div align="right">
<% if current_user == @post.user%>
  <%= link_to 'Редактировать', edit_post_path(@post), :class => "btn btn-default navbar-btn" %>
  <%= link_to 'Удалить запись', post_path(@post), method: :delete, :class => "btn btn-default navbar-btn"%>
<% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<h2> Комментарии: </h2>
  <%= nested_comments @post.comments.arrange(:order => :created_at)%>
<br>
<br>
<br>
<div align="left">
<h2> Добавить комментарий </h2>
  <% if current_user %>
  <p>
    <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.text_area :body, size:"100x10" %>
    </p>
    <p>
        <%= f.submit "Отправить"%>
    </p>
  <% end %>
  <% else %>
  <h3> Чтобы оставлять комментарии, нужно зарегистрироваться </h3>
  <% end %>
  </p>
</div>
