<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Блог</title>

</head>

<body>
  <% if current_user %>

    <h5>  Залогинен как <strong><%= current_user.name %> </strong>| <%= link_to "Выйти", '/logout' %></h4>

  <% else %>
    <%= link_to 'Войти', '/login',:class => "btn btn-default navbar-btn" %>  <%= link_to 'Зарегистрироваться', '/signup', :class => "btn btn-default navbar-btn" %>
  <% end %>
  <section id="container">

    <header class="clearfix">
    <h1>Блог</h1>
    <ul class="navigation-links">
      <li><a href="#"><%= link_to "Все записи", posts_path, :class => "btn btn-default navbar-btn"%></a></li>
      <% if current_user %>
      <li><a href="#"><%= link_to "Добавить запись", new_post_path, :class => "btn btn-default navbar-btn"%></a></li>
      <% end %>
    </ul>
  </header>

    <section>
      <p style="font-size: 22px;">
        <%= yield %>
      </p>
    </section>

  </section>
</body>

</html>
